<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" verbose="2" preserve-order="true">
      <listeners>
        <listener class-name = "Utilities.CustomListener"/>
          <listener class-name = "Utilities.ExtentReport"/>
    </listeners>
   <test name="C:/Users/kavitha/IdeaProjects/TestNGMavenProject">
        <classes>
        <class name="Pages.LoginPage"/>
        </classes>
    </test>
</suite>